body,
div,
span,
p,
a,
img,
input,
dl,
dt,
dd,
ol,
ul,
li,
h1,
h2,
h3,
h4,
strong,
em,
i,
del {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

input {
  border: 0 none;
  outline: 0 none;
}

img {
  border: 0 none;
  vertical-align: middle;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
strong {
  font-weight: normal;
}

em,
i {
  font-style: normal;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

html,
body {
  height: 100%;
}

body {
  font-size: 0.3733333333rem;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container .header {
  height: 1.3333333333rem;
  background-color: #ff841d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.4533333333rem;
  padding-right: 0.2666666667rem;
}
.container .header .logo {
  height: 0.64rem;
  width: 4.9333333333rem;
  background: url("../images/logo.png") no-repeat top left/100%;
}
.container .header .download {
  height: 0.96rem;
  width: 0.9333333333rem;
  background: url("../images/home.png") no-repeat top left/100%;
}
.container .main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.container .main .searchbar {
  width: 100%;
  height: 1.3866666667rem;
  padding: 0.2666666667rem;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
.container .main .searchbar .search {
  display: flex;
  width: 100%;
  height: 0.8rem;
  background-color: #f1f1f1;
  border-radius: 0.8rem;
}
.container .main .searchbar .search input {
  height: 100%;
  flex: 1;
  border: none;
  outline: none;
  border-radius: 0.8rem;
  padding-left: 0.5333333333rem;
  background-color: #f1f1f1;
}
.container .main .searchbar .search input::placeholder {
  font-size: 0.3733333333rem;
}
.container .main .searchbar .search .searchbtn {
  flex-basis: 1.68rem;
  height: 100%;
  border-radius: 0.8rem;
  background-color: #ff841d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .main .scroll {
  flex: 1;
  position: relative;
}
.container .main .scroll .mui-scroll-wrapper {
  background-color: #fff;
}
.container .main .scroll .mui-scroll-wrapper .inner {
  margin-bottom: 0.32rem;
}
.container .main .scroll .mui-scroll-wrapper .footer {
  width: 100%;
  height: 2.56rem;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-top {
  height: 0.96rem;
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-top a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5a5a5a;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-top .login {
  flex: 1;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-top .register {
  flex: 1;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-top .back-top {
  height: 100%;
  flex-basis: 4rem;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-bottom {
  height: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-bottom p {
  text-align: center;
  color: #5a5a5a;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-bottom p .warning {
  color: #f4483e;
}

.scroll .inner {
  background-color: #f2f2f2;
}
.scroll .inner .nav {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ebebeb));
  font-size: 0.3733333333rem;
  border-bottom: 0.0266666667rem solid #dbdbdb;
  height: 0.96rem;
  padding-left: 0.2133333333rem;
  display: flex;
  align-items: center;
}
.scroll .inner .nav a {
  color: #999;
}
.scroll .inner .nav .good {
  color: #666;
}
.scroll .inner .nav .index {
  color: #999;
}
.scroll .inner .hot {
  background: #f3f3f3;
  height: 0.96rem;
  display: flex;
  align-items: center;
  border-bottom: 0.0266666667rem solid #d6d6d6;
}
.scroll .inner .hot a {
  font-weight: bold;
  padding: 0rem 0.2666666667rem;
  color: #874604;
}
.scroll .inner .bd {
  border-bottom: 0.0266666667rem solid #dbdbdb;
  background: #fff;
}
.scroll .inner .bd ul li {
  padding: 0.1333333333rem 0rem;
  border-bottom: 0.0266666667rem solid #dbdbdb;
}
.scroll .inner .bd ul li a {
  display: flex;
  padding: 0rem 0.2666666667rem;
  justify-content: space-between;
}
.scroll .inner .bd ul li a .colorLump {
  flex-basis: 0.5333333333rem;
  width: 0.5333333333rem;
  height: 0.5333333333rem;
  background-color: #c9c9c9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.scroll .inner .bd ul li a .coloryellow {
  background-color: #ff841d;
}
.scroll .inner .bd ul li a .colorgreen {
  background-color: #8adf5b;
}
.scroll .inner .bd ul li a .colorred {
  background-color: #f4483e;
}
.scroll .inner .bd ul li a .title {
  flex: 1;
  margin-left: 0.2666666667rem;
}
.scroll .inner .bd ul li a .title .t1 {
  color: black;
}
.scroll .inner .bd ul li a .title .t2 {
  color: #999;
  font-size: 0.32rem;
}
.scroll .inner .bd ul li a .iconfont {
  flex-basis: 0.5333333333rem;
  padding-top: 0.2666666667rem;
}
.scroll .inner .salve .hd {
  height: 0.96rem;
  display: flex;
  align-items: center;
  border-bottom: 0.0266666667rem solid #d6d6d6;
}
.scroll .inner .salve .hd a {
  font-weight: bold;
  padding: 0rem 0.2666666667rem;
  color: #874604;
}
.scroll .inner .salve .pd {
  background: #fff;
}
.scroll .inner .salve .pd ul li {
  padding: 0.2666666667rem 0rem;
  border-bottom: 0.0266666667rem solid #d6d6d6;
}
.scroll .inner .salve .pd ul li a {
  display: flex;
}
.scroll .inner .salve .pd ul li a .img {
  flex-basis: 2.9333333333rem;
  padding: 0rem 0.2666666667rem;
}
.scroll .inner .salve .pd ul li a .img img {
  width: 100%;
}
.scroll .inner .salve .pd ul li a .content {
  flex: 1;
  font-size: 0.32rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.scroll .inner .salve .pd ul li a .content p {
  color: black;
}
.scroll .inner .salve .pd ul li a .content .money {
  display: flex;
  justify-content: space-between;
}
.scroll .inner .salve .pd ul li a .content .money .num {
  color: #f4483e;
  font-size: 0.4266666667rem;
}
.scroll .inner .salve .pd ul li a .content .money .star {
  color: #fe9913;
  display: flex;
  margin-right: 0.5333333333rem;
}
.scroll .inner .salve .pd ul li a .content .money .star .icon-start {
  font-size: 0.5333333333rem;
}
.scroll .inner .salve .pd ul li a .content .appraise {
  color: #666;
  font-size: 0.32rem;
}
.scroll .inner .conmment {
  margin-bottom: 0.2666666667rem;
}
.scroll .inner .conmment .hd {
  height: 0.96rem;
  display: flex;
  align-items: center;
  border-bottom: 0.0266666667rem solid #d6d6d6;
}
.scroll .inner .conmment .hd a {
  font-weight: bold;
  padding: 0rem 0.2666666667rem;
  color: #874604;
}
.scroll .inner .conmment .pd {
  padding: 0rem 0.2666666667rem;
  border-bottom: 0.0266666667rem solid #d6d6d6;
}
.scroll .inner .conmment .pd .top {
  display: flex;
  margin-top: 0.2666666667rem;
}
.scroll .inner .conmment .pd .top img {
  width: 20%;
  height: 20%;
}
.scroll .inner .conmment .pd .top .title {
  margin-left: 0.2666666667rem;
  color: #999;
}
.scroll .inner .conmment .content {
  margin-top: 0.2666666667rem;
  padding: 0.2666666667rem 0.2666666667rem;
  background: #fff;
  border: 0.0266666667rem solid #d6d6d6;
  margin-bottom: 10px;
}
.scroll .inner .conmment .content .name {
  display: flex;
  justify-content: space-between;
}
.scroll .inner .conmment .content .name a {
  display: flex;
  align-items: center;
}
.scroll .inner .conmment .content .name a .font {
  color: #999;
}
.scroll .inner .conmment .content .name a .star {
  display: flex;
  margin-left: 0.5333333333rem;
}
.scroll .inner .conmment .content .name a .star .icon-start {
  font-size: 0.48rem;
  color: #fe9913;
}
.scroll .inner .conmment .content .name span {
  color: #999;
}
.scroll .inner .conmment .content .con {
  margin: 0.2666666667rem 0rem;
}

/*# sourceMappingURL=brandSublist.css.map */
