body,
div,
span,
p,
a,
img,
input,
dl,
dt,
dd,
ol,
ul,
li,
h1,
h2,
h3,
h4,
strong,
em,
i,
del {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

input {
  border: 0 none;
  outline: 0 none;
}

img {
  border: 0 none;
  vertical-align: middle;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
strong {
  font-weight: normal;
}

em,
i {
  font-style: normal;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

html,
body {
  height: 100%;
}

body {
  font-size: 0.3733333333rem;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container .header {
  height: 1.3333333333rem;
  background-color: #ff841d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.4533333333rem;
  padding-right: 0.2666666667rem;
}
.container .header .logo {
  height: 0.64rem;
  width: 4.9333333333rem;
  background: url("../images/logo.png") no-repeat top left/100%;
}
.container .header .download {
  height: 0.96rem;
  width: 0.9333333333rem;
  background: url("../images/home.png") no-repeat top left/100%;
}
.container .main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.container .main .searchbar {
  width: 100%;
  height: 1.3866666667rem;
  padding: 0.2666666667rem;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
.container .main .searchbar .search {
  display: flex;
  width: 100%;
  height: 0.8rem;
  background-color: #f1f1f1;
  border-radius: 0.8rem;
}
.container .main .searchbar .search input {
  height: 100%;
  flex: 1;
  border: none;
  outline: none;
  border-radius: 0.8rem;
  padding-left: 0.5333333333rem;
  background-color: #f1f1f1;
}
.container .main .searchbar .search input::placeholder {
  font-size: 0.3733333333rem;
}
.container .main .searchbar .search .searchbtn {
  flex-basis: 1.68rem;
  height: 100%;
  border-radius: 0.8rem;
  background-color: #ff841d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .main .scroll {
  flex: 1;
  position: relative;
}
.container .main .scroll .mui-scroll-wrapper {
  background-color: #fff;
}
.container .main .scroll .mui-scroll-wrapper .inner {
  margin-bottom: 0.32rem;
}
.container .main .scroll .mui-scroll-wrapper .footer {
  width: 100%;
  height: 2.56rem;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-top {
  height: 0.96rem;
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-top a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5a5a5a;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-top .login {
  flex: 1;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-top .register {
  flex: 1;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-top .back-top {
  height: 100%;
  flex-basis: 4rem;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-bottom {
  height: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-bottom p {
  text-align: center;
  color: #5a5a5a;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-bottom p .warning {
  color: #f4483e;
}

.container {
  background-color: #ccc;
}
.container .headerTop {
  height: 1.1733333333rem;
  background-color: #fe4a65;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}
.container .headerTop h3 {
  font-size: 0.4266666667rem;
  color: #fff;
  width: 1.8666666667rem;
  font-weight: bold;
  text-align: center;
}
.container .headerTop input {
  flex: 1;
  height: 0.8rem;
  border-radius: 0.1333333333rem;
  margin: 0rem;
  font-size: 0.32rem;
}
.container .headerTop .category {
  font-size: 0.6933333333rem;
  color: #fff;
  width: 1.0666666667rem;
  text-align: center;
}
.container .main {
  position: relative;
}
.container .main .menu {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 1.1733333333rem;
  display: none;
}
.container .main .menu .mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 5;
}
.container .main .menu .menu-content {
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 100;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .main .menu .menu-content ul {
  display: flex;
  flex-wrap: wrap;
}
.container .main .menu .menu-content ul li {
  width: 25%;
  height: 1.3866666667rem;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.container .main .menu .menu-content ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}
.container .main .menu .menu-content button {
  width: 2.6666666667rem;
  height: 0.8rem;
  color: #fe4a65;
  border: 1px solid #fe4a65;
  margin-top: 0.8rem;
  font-size: 0.3733333333rem;
}
.container .main .scroll .mui-scroll-wrapper {
  background-color: #f2f2f2;
}
.container .main .scroll .mui-scroll-wrapper #slider {
  margin-top: 1.1733333333rem;
}
.container .main .scroll .mui-scroll-wrapper .nav {
  background-color: #fff;
}
.container .main .scroll .mui-scroll-wrapper .nav ul {
  display: flex;
}
.container .main .scroll .mui-scroll-wrapper .nav ul li {
  flex: 1;
  padding: 0.2666666667rem;
}
.container .main .scroll .mui-scroll-wrapper .nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .main .scroll .mui-scroll-wrapper .nav ul li a span {
  font-size: 0.32rem;
  margin-top: 0.1333333333rem;
}
.container .main .scroll .mui-scroll-wrapper .nav ul li a i {
  width: 1.36rem;
  height: 1.36rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .main .scroll .mui-scroll-wrapper .nav ul li a i.all {
  color: #fec627;
  font-size: 1.36rem;
}
.container .main .scroll .mui-scroll-wrapper .nav ul li a i.hot {
  color: #fff;
  background-color: #fe4a65;
  font-size: 0.8533333333rem;
}
.container .main .scroll .mui-scroll-wrapper .nav ul li a i.nine {
  color: #ff7692;
  font-size: 1.4133333333rem;
}
.container .main .scroll .mui-scroll-wrapper .nav ul li a i.nineteen {
  color: #a992ff;
  font-size: 1.4933333333rem;
}
.container .main .scroll .mui-scroll-wrapper .superHot {
  background-color: #fff;
  margin-top: 10px;
}
.container .main .scroll .mui-scroll-wrapper .superHot .topBar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0.8rem;
  padding: 0.2666666667rem;
}
.container .main .scroll .mui-scroll-wrapper .superHot .topBar .super {
  font-size: 0.3733333333rem;
  font-weight: bold;
  color: #666;
  border-left: 3px solid #fe4a65;
  padding-left: 0.2666666667rem;
}
.container .main .scroll .mui-scroll-wrapper .superHot .topBar .more {
  font-size: 0.32rem;
  color: #5a5a5a;
}
.container .main .scroll .mui-scroll-wrapper .superHot .mui-scroll-wrapper {
  background-color: #fff;
  height: 4.5333333333rem;
}
.container .main .scroll .mui-scroll-wrapper .superHot .mui-scroll-wrapper .mui-scroll {
  width: 330%;
  height: 100%;
  display: flex;
}
.container .main .scroll .mui-scroll-wrapper .superHot .mui-scroll-wrapper .mui-scroll .mui-control-item {
  padding: 0.2133333333rem;
  width: 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .main .scroll .mui-scroll-wrapper .superHot .mui-scroll-wrapper .mui-scroll .mui-control-item.mui-active {
  border-bottom: 2px solid #fe4a65;
}
.container .main .scroll .mui-scroll-wrapper .superHot .mui-scroll-wrapper .mui-scroll .mui-control-item img {
  display: block;
  width: 2.4rem;
}
.container .main .scroll .mui-scroll-wrapper .superHot .mui-scroll-wrapper .mui-scroll .mui-control-item .proName {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.32rem;
  color: #777;
}
.container .main .scroll .mui-scroll-wrapper .superHot .mui-scroll-wrapper .mui-scroll .mui-control-item .price {
  font-size: 0.32rem;
  color: #fe4a65;
}
.container .main .scroll .mui-scroll-wrapper .superHot .mui-scroll-wrapper .mui-scroll .mui-control-item .price del {
  color: #ccc;
  margin-left: 0.2666666667rem;
}
.container .main .scroll .mui-scroll-wrapper .discount {
  background-color: #fff;
  margin-top: 10px;
}
.container .main .scroll .mui-scroll-wrapper .discount .topBar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0.8rem;
  padding: 0.2666666667rem;
}
.container .main .scroll .mui-scroll-wrapper .discount .topBar .super {
  font-size: 0.3733333333rem;
  font-weight: bold;
  color: #777;
  border-left: 3px solid #fe4a65;
  padding-left: 0.2666666667rem;
}
.container .main .scroll .mui-scroll-wrapper .discount .goodList {
  display: flex;
  flex-wrap: wrap;
  padding: 0.16rem;
}
.container .main .scroll .mui-scroll-wrapper .discount .goodList li {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.1333333333rem;
}
.container .main .scroll .mui-scroll-wrapper .discount .goodList li img {
  width: 4.6933333333rem;
  height: 4.2666666667rem;
}
.container .main .scroll .mui-scroll-wrapper .discount .goodList li .proName {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.32rem;
  color: #777;
  padding: 0.1333333333rem;
}
.container .main .scroll .mui-scroll-wrapper .discount .goodList li .info {
  display: flex;
  padding: 0rem 0.1333333333rem;
}
.container .main .scroll .mui-scroll-wrapper .discount .goodList li .info p {
  font-size: 0.32rem;
  color: #fe4a65;
}
.container .main .scroll .mui-scroll-wrapper .discount .goodList li .info p del {
  color: #999;
  margin-left: 0.5333333333rem;
}
.container .main .scroll .mui-scroll-wrapper .discount .goodList li a {
  font-size: 0.2666666667rem;
  color: #333;
  border: 0.0266666667rem dashed #fe4a65;
  padding: 0rem 0.08rem;
  margin-top: 0.1066666667rem;
}
.container .anchor {
  position: fixed;
  right: 0.2666666667rem;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .anchor img {
  width: 1.0666666667rem;
  height: 1.0666666667rem;
  animation: circle 100s alternate infinite;
  transition: all 100s;
}
.container .anchor i {
  width: 0.1333333333rem;
  height: 0.8rem;
  background-color: #ccc;
  margin-top: -0.1333333333rem;
}
@keyframes circle {
  to {
    transform: rotateZ(-6000deg);
  }
}

/*# sourceMappingURL=cabbage.css.map */
