body,
div,
span,
p,
a,
img,
input,
dl,
dt,
dd,
ol,
ul,
li,
h1,
h2,
h3,
h4,
strong,
em,
i,
del {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

input {
  border: 0 none;
  outline: 0 none;
}

img {
  border: 0 none;
  vertical-align: middle;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
strong {
  font-weight: normal;
}

em,
i {
  font-style: normal;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

html,
body {
  height: 100%;
}

body {
  font-size: 0.3733333333rem;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container .header {
  height: 1.3333333333rem;
  background-color: #ff841d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.4533333333rem;
  padding-right: 0.2666666667rem;
}
.container .header .logo {
  height: 0.64rem;
  width: 4.9333333333rem;
  background: url("../images/logo.png") no-repeat top left/100%;
}
.container .header .download {
  height: 0.96rem;
  width: 0.9333333333rem;
  background: url("../images/download.png") no-repeat top left/100%;
}
.container .main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.container .main .searchbar {
  width: 100%;
  height: 1.3866666667rem;
  padding: 0.2666666667rem;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
.container .main .searchbar .search {
  display: flex;
  width: 100%;
  height: 0.8rem;
  background-color: #f1f1f1;
  border-radius: 0.8rem;
}
.container .main .searchbar .search input {
  height: 100%;
  flex: 1;
  border: none;
  outline: none;
  border-radius: 0.8rem;
  padding-left: 0.5333333333rem;
  background-color: #f1f1f1;
}
.container .main .searchbar .search input::placeholder {
  font-size: 0.3733333333rem;
}
.container .main .searchbar .search .searchbtn {
  flex-basis: 1.68rem;
  height: 100%;
  border-radius: 0.8rem;
  background-color: #ff841d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .main .scroll {
  flex: 1;
  position: relative;
}
.container .main .scroll .mui-scroll-wrapper {
  background-color: #fff;
}
.container .main .scroll .mui-scroll-wrapper .inner {
  margin-bottom: 0.32rem;
}
.container .main .scroll .mui-scroll-wrapper .footer {
  width: 100%;
  height: 2.56rem;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-top {
  height: 0.96rem;
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-top a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5a5a5a;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-top .login {
  flex: 1;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-top .register {
  flex: 1;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-top .back-top {
  height: 100%;
  flex-basis: 4rem;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-bottom {
  height: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-bottom p {
  text-align: center;
  color: #5a5a5a;
}
.container .main .scroll .mui-scroll-wrapper .footer .footer-bottom p .warning {
  color: #f4483e;
}

.main .inner {
  background: #f2f2f2;
}
.main .inner .nav {
  margin-top: 0.1333333333rem;
  background: #fff;
}
.main .inner .nav ul {
  margin-bottom: 0.1333333333rem;
  display: flex;
  flex-wrap: wrap;
}
.main .inner .nav ul li {
  display: flex;
  justify-content: center;
  width: 25%;
  position: relative;
  padding: 0.1333333333rem 0rem;
}
.main .inner .nav ul li .popularity {
  position: absolute;
  width: 0.9333333333rem;
  height: 0.5333333333rem;
  background: #ff614f;
  border: 0.0266666667rem solid #fff;
  top: 0;
  right: 0.2666666667rem;
  color: #fff;
  font-size: 0.32rem;
  line-height: 0.48rem;
  text-align: center;
  border-radius: 0.4rem;
}
.main .inner .nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .inner .nav ul li a img {
  width: 1.3333333333rem;
}
.main .inner .nav ul li a span {
  margin-top: 0.1333333333rem;
  font-size: 0.3733333333rem;
  color: #666;
}
.main .inner .nav ul li:nth-child(n+9) {
  display: none;
}
.main .inner .discount {
  background: #fff;
  margin-top: 0.0533333333rem;
}
.main .inner .discount .top {
  height: 0.8rem;
  display: flex;
  justify-content: space-between;
  padding: 0rem 0.2666666667rem;
  color: #fff;
  align-items: center;
  background: linear-gradient(to bottom, #ffad44, #ff9203);
}
.main .inner .discount .top span {
  font-size: 0.4266666667rem;
  font-weight: bold;
}
.main .inner .discount .top img {
  width: 0.5333333333rem;
}
.main .inner .discount .products a {
  display: flex;
  border-bottom: 0.0133333333rem solid #ccc;
  padding: 0.2666666667rem 0.1333333333rem;
}
.main .inner .discount .products a .left {
  margin-right: 0.2666666667rem;
}
.main .inner .discount .products a .left img {
  width: 2.6666666667rem;
}
.main .inner .discount .products a .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .inner .discount .products a .right .title {
  font-size: 0.4266666667rem;
  color: #000;
}
.main .inner .discount .products a .right .title .color {
  color: #ff9203;
}
.main .inner .discount .products a .right .other {
  font-size: 0.2133333333rem;
  display: flex;
  justify-content: space-between;
}
.main .inner .discount .products a .right .other i {
  font-size: 0.2666666667rem;
  margin-right: 0.08rem;
}
.main .button {
  width: 100%;
  padding: 0rem 0.2666666667rem 0.2666666667rem 0.2666666667rem;
}
.main .button button {
  width: 100%;
  background: linear-gradient(to bottom, #fff, #f2f2f2);
}
.main .ranking {
  height: 0.8rem;
  margin-bottom: 0.2666666667rem;
  display: flex;
  justify-content: space-between;
  padding: 0rem 0.2666666667rem;
  color: #fff;
  align-items: center;
  background: linear-gradient(to bottom, #ffad44, #ff9203);
  font-size: 0.4266666667rem;
}
.main .ranking img {
  width: 0.5333333333rem;
}
.main .footer {
  background: #f2f2f2;
}

.download1 {
  position: fixed;
  z-index: 100;
  right: 0.2666666667rem;
  bottom: 0.8rem;
}
.download1 img {
  width: 1.6rem;
}

/*# sourceMappingURL=index.css.map */
