@import './common.scss';



.scroll {
    
    .inner {
        // padding: pr(10);
        
        background-color: #f2f2f2;
        .nav {
            background: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#ebebeb)); 
            font-size: pr(14);
            border-bottom: pr(1) solid #dbdbdb;
            height: pr(36);
            padding-left: pr(8);
            display: flex;
            align-items: center;
            
            a {
                color: #999;
                
            }
            .good {
                color: #666;
            }
            .index {
                color: #999;
            }
        }
        .hot {
            background: #f3f3f3;
            height: pr(36);
            display: flex;
            align-items: center;
            border-bottom: pr(1) solid #d6d6d6;
            a {
                font-weight: bold;
                padding: pr(0) pr(10);
                color: #874604;

            }
        }

        // 十款产品列表
        .bd {
            border-bottom: pr(1) solid #dbdbdb;
            background: #fff;
            ul {
                li {
                    padding: pr(5) pr(0);
                    border-bottom: pr(1) solid #dbdbdb;
                  a {
                    display: flex;
                    // align-items: center;
                    padding: pr(0) pr(10);
                    justify-content: space-between;
                    .colorLump {
                        flex-basis: pr(20);
                        width: pr(20);
                        height: pr(20);
                        background-color:#c9c9c9 ;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;                       
                    } 

                    .coloryellow {
                        background-color: $deepOrange;
                    }
                    .colorgreen {
                        background-color: #8adf5b; 
                    }
                    .colorred {
                        background-color: $deepRed; 
                    }
                    

                    .title {
                        flex: 1;
                        margin-left: pr(10);
                        .t1 {
                            color: black;
                        }
                        .t2 {
                            color: #999;
                            font-size: pr(12);
                        }
                    } 
                    .iconfont {
                        flex-basis: pr(20);
                        padding-top: pr(10);
                        
                    }
                  }
                }
               
                // &:nth-child(2){

                //     color:$deepOrange;

                // }
            }
        }

        // 产品销量排行
        .salve {
            .hd {
                height: pr(36);
                display: flex;
                align-items: center;
                border-bottom: pr(1) solid #d6d6d6;
                a {
                    font-weight: bold;
                    padding: pr(0) pr(10);
                    color: #874604;
    
                }
            }
            .pd {
                background: #fff;

                ul {
                    li {
                        padding: pr(10) pr(0);
                        border-bottom: pr(1) solid #d6d6d6;
                        a {
                           
                           display: flex; 
                           .img {
                               flex-basis: pr(110);
                               padding: pr(0) pr(10);
                               img {
                                   width: 100%;
                               }
                           }
                           .content {
                                flex: 1;
                                font-size: pr(12);
                                display: flex;
                                justify-content: space-around;
                                flex-direction: column;
                                p {
                                    color: black;
                                }
                               .money {
                                   display: flex;
                                   justify-content: space-between;
                                    .num {
                                        color: $deepRed;
                                        font-size: $font-md;
                                    }
                                    .star {
                                        color: $deepYellow;
                                        display: flex;
                                        margin-right: pr(20);
                                        .icon-start {
                                            font-size: pr(20);
                                        }
                                    }
                               }
                               .appraise {
                                   color: #666;
                                   font-size: $font-xs;
                               }
                           }
                        }
                    }
                }
            }
        }

        // 用户评论
        .conmment {
            margin-bottom: pr(10);
            .hd {
                height: pr(36);
                display: flex;
                align-items: center;
                border-bottom: pr(1) solid #d6d6d6;
                a {
                    font-weight: bold;
                    padding: pr(0) pr(10);
                    color: #874604;
    
                }
            }
            .pd {
                padding: pr(0) pr(10);
                border-bottom: pr(1) solid #d6d6d6;
               
                .top {
                    display: flex;
                    margin-top: pr(10);
                    img {
                        width: 20%;
                        height: 20%;
                    }
                    .title {
                        margin-left: pr(10);
                        color: #999;
                    }
                }
            }
            .content {
                margin-top: pr(10);
                padding: pr(10) pr(10);
                background: #fff;
                border: pr(1) solid #d6d6d6;
                margin-bottom: 10px;
                .name {
                    display: flex;
                    justify-content: space-between;
                    a {
                        display: flex;
                        align-items: center;
                        .font {
                            color: #999; 
                        }
                       
                       
                        .star {
                            
                            display: flex;
                            margin-left: pr(20);
                            .icon-start {
                                font-size: pr(18);
                                color: $deepYellow;
                            }
                        }
                    }
                    span {
                        color: #999;
                    }
                }
                .con {
                    margin: pr(10) pr(0);
                }

            }
        }
        

    }
    
}


