@import "./common.scss";

//主页面筛选栏,修改绝对定位为标准流
.mui-off-canvas-wrap .mui-inner-wrap .mui-bar {
  position: static !important;
}

//主页面样式
.mui-scroll-wrapper {
  //具体内容的样式
  .inner {
    margin-bottom: pr(12);
    background-color: #f2f2f2;
    //品牌简介的样式
    .brandintroduct {
      padding: pr(10);
      .bitittle {
        padding: pr(10);
        font-size: $font-lg;
        font-weight: bold;
      }
      .bicontent {
        padding: pr(10);
        background-color: #fff;
        font-size: $font-xs;
        color: #666;
      }
      .explain {
        padding: pr(10);
        background-color: #f7f7f7;
        font-size: $font-xs;
        color: #999;
        margin-top: pr(10);
      }
    }
    //产品展示列表
    .productslist {
      background-color: #fff;
      //导航条
      .listbar {
        .mui-bar-nav {
          background-color: #fff;
          height: pr(52) !important;
          display: flex !important;
          justify-content: space-around !important;
          align-items: center !important;
          color: #666;
          span.active {
            color: $lightRed;
          }
          a {
            color: #666;
          }
        }
      }
      //产品信息
      .productsinfo {
        .product {
          padding: pr(10) pr(8);
          display: flex;
          justify-content: space-between;
          align-items: center;
          img {
            width: pr(120);
          }
          .info {
            padding-left: pr(10);
            flex: 1;
            display: flex;
            flex-direction: column;
            .protittle {
              line-height: pr(26);
              color: #000;
            }
            .proprice {
              color: $deepRed;
              font-weight: bold;
              line-height: pr(28);
            }
            .procomments {
              display: flex;
              justify-content: space-between;
              font-size: $font-xs;
              line-height: pr(26);
            }
          }
        }
      }
      //分页控制器
      .pagecontrol {
        height: pr(45);
        background-color: #efeff4;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .mui-numbox {
          width: 100%;
          border-radius: 0;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          .mui-btn {
            width: pr(80);
            border-radius: pr(6);
            background-color: #ececec;
            left: 50%;
            font-size: $font-md;
            border: 1px solid #999;
          }
          .mui-btn-numbox-minus {
            margin-left: pr(-140);
          }
          .mui-btn-numbox-plus {
            margin-left: pr(60);
          }
          .mui-input-numbox {
            width: pr(100) !important ;
            border: 1px solid #ccc !important;
          }
        }
        .listbox {
          display: none;
          background-color: #fff;
          position: absolute;
          width: pr(100);
          border: 1px solid $deepOrange;
          bottom: pr(34);
          left: 50%;
          margin-left: pr(-50);
          li {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $font-md;
          }
        }
      }
    }
    //相关链接
    .link {
      margin-top: pr(20);
      padding: pr(10);
      display: flex;
      flex-direction: column;
      .ltittle {
        font-size: $font-md;
        color: #000;
        line-height: pr(26);
      }
      a {
        color: #666;
        font-size: $font-xs;
        line-height: pr(26);
      }
    }
  }
  .footer {
    background-color: #f2f2f2;
  }
}

//侧滑栏样式
.mui-off-canvas-left {
  width: 80%;
  .mui-scroll-wrapper {
    background-color: #fff;
    //筛选标题
    .slidetittle {
      background-color: #fff;
      .closebtn {
        font-size: pr(36);
        padding: 0;
      }
    }
    //筛选条样式
    .slidebox {
      margin-top: pr(40);  
      width: 100%;
      .slidelist {
          padding: pr(0) pr(10);
          display: flex;
          justify-content: space-between;
          .brand {
              font-size: $font-md;
          }
          .brandname {
            font-size: $font-xs;
            color: red;
          }
      }
      //默认显示的六个选项的样式
      .showlist {
        display: flex;
        flex-wrap: wrap;
        .showbox {
          flex-basis: 33.333333333%;
          padding: pr(3);
          .showone {
            padding: pr(3) pr(5);
            background-color: #f2f2f2;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: pr(6);
            color: #666;
            font-size: $font-xs;
            margin: pr(3);
            &.active {
              background-color: $orangeRed;
              color: #fff;
            }
          }
        }
      }
      .hidelist {
          display: none;
          &.show {
              display: block;
          }
      }
    }
  }
}
