@import "./common.scss";
.container {
    background-color: #ccc; 
    // 顶部
    .headerTop {
        height: pr(44);
        background-color:$deeppink;
        display: flex;
        align-items: center;
        position: fixed;
        z-index: 99;
        width: 100%;
        h3 {
            font-size: $font-md;
            color: #fff;
            width: pr(70);
            font-weight: bold;
            text-align: center;
        }
        input {
            flex: 1;
            height: pr(30);
            border-radius: pr(5);
            margin: pr(0);
            font-size: $font-xs;
        }
        .category {
            font-size: $font-lg;
            color: #fff;
            width: pr(40);
            text-align: center;
        }
    }
    .main {
        .scroll {
            .mui-scroll-wrapper {
                background-color: #f2f2f2;
                //轮播图
                #slider{
                    margin-top: pr(44);
                }
                //导航栏
                .nav {
                    background-color: #fff;
                    ul {
                        display: flex;
                        li {
                            flex: 1;
                            padding: pr(10);
                            a {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                span {
                                    font-size: $font-xs;
                                    margin-top: pr(5);
                                }
                                i {
                                    width: pr(51);
                                    height: pr(51);
                                    border-radius: 50%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    
                                    &.all {
                                        color:  $paleYellow;
                                        font-size: pr(51);
                                    }
                                    &.hot {
                                       color: #fff;
                                       background-color:$deeppink;
                                       font-size: pr(32);
                                    }
                                    &.nine {
                                        color: #ff7692;
                                        font-size: pr(53);
                                    }
                                    &.nineteen {
                                        color: #a992ff;
                                        font-size: pr(56);
                                    }
                                }
                            }
                        }
                    }
                }
                //超级人气榜
                .superHot {
                    margin-top: 10px;
                    .topBar{
                        background-color: #fff;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: pr(30);
                        padding: pr(10);
                        .super{
                            font-size: $font-sm;
                            font-weight: bold;
                            color: #666;
                            border-left: 3px solid $deeppink;
                            padding-left: pr(10);
                        }
                        .more{
                            font-size: $font-xs;
                            color: #5a5a5a;
                        }
                    }
                    //横向滚动区域
                    .mui-scroll-wrapper{
                        background-color: #fff;
                        height: pr(170);
                        .mui-scroll{
                            width: 200%;
                            height: 100%;
                            display: flex;
                            .mui-control-item{
                                padding: pr(15) pr(10) pr(0);
                                width: 33.333%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                img{
                                    display: block;
                                    width: pr(90);
                                }
                                .proName{
                                    width: 100%;
                                    word-break: break-all;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    font-size: $font-xs;
                                    color: #666;
                                }
                                .price{
                                    font-size: $font-xs;
                                    color: #ccc;
                                    span{
                                        color: $darkRed;
                                        font-size: $font-sm;
                                        margin-right: pr(5);
                                       
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }
}