@import "./common.scss";
.container {
    background-color: #ccc; 
    // 顶部
    .headerTop {
        height: pr(44);
        background-color:$deeppink;
        display: flex;
        align-items: center;
        position: fixed;
        z-index: 999;
        width: 100%;
        h3 {
            font-size: $font-md;
            color: #fff;
            width: pr(70);
            font-weight: bold;
            text-align: center;
        }
        input {
            flex: 1;
            height: pr(30);
            border-radius: pr(5);
            margin: pr(0);
            font-size: $font-xs;
        }
        .category {
            font-size: pr(26);
            color: #fff;
            width: pr(40);
            text-align: center;
        }
    }
    
    .main {
        position: relative;
        .menu{
            position: absolute;
            width: 100%;
            height: 100%;
            top: pr(44);
            display: none;
            .mask{
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,.3);
                position: absolute;             
                z-index: 5;
            }
            .menu-content{
                background-color: #fff;
                width: 100%;
                position: fixed;
                z-index: 100;
                height: pr(300);
                display: flex;
                flex-direction: column;
                align-items: center;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    li{
                        width: 25%;
                        height: pr(52);
                        border-right: 1px solid #eee;
                        border-bottom: 1px solid #eee;
                        a{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #333;
                        }
                    }
                }
                button{
                    width: pr(100);
                    height: pr(30);
                    color: $deeppink;
                    border: 1px solid $deeppink;
                    margin-top: pr(30);
                    font-size: $font-sm;
                }
                
            }
        }
        .scroll {
            .mui-scroll-wrapper {
                background-color: #f2f2f2;
                //轮播图
                #slider{
                    margin-top: pr(44);
                }
                //导航栏
                .nav {
                    background-color: #fff;
                    ul {
                        display: flex;
                        li {
                            flex: 1;
                            padding: pr(10);
                            a {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                span {
                                    font-size: $font-xs;
                                    margin-top: pr(5);
                                }
                                i {
                                    width: pr(51);
                                    height: pr(51);
                                    border-radius: 50%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    
                                    &.all {
                                        color:  $paleYellow;
                                        font-size: pr(51);
                                    }
                                    &.hot {
                                       color: #fff;
                                       background-color:$deeppink;
                                       font-size: pr(32);
                                    }
                                    &.nine {
                                        color: #ff7692;
                                        font-size: pr(53);
                                    }
                                    &.nineteen {
                                        color: #a992ff;
                                        font-size: pr(56);
                                    }
                                }
                            }
                        }
                    }
                }
                //超级人气榜
                .superHot {
                    background-color: #fff;
                    margin-top: 10px;
                    .topBar{
                        background-color: #fff;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: pr(30);
                        padding: pr(10);
                        .super{
                            font-size: $font-sm;
                            font-weight: bold;
                            color: #666;
                            border-left: 3px solid $deeppink;
                            padding-left: pr(10);
                        }
                        .more{
                            font-size: $font-xs;
                            color: #5a5a5a;
                        }
                    }
                    //横向滚动区域
                    .mui-scroll-wrapper{
                        background-color: #fff;
                        height: pr(170);
                        .mui-scroll{
                            width: 330%;
                            height: 100%;
                            display: flex;
                            .mui-control-item{
                                padding: pr(8);
                                width: 33.333%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                img{
                                    display: block;
                                    width: pr(90);
                                }
                                .proName{
                                    width: 100%;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    font-size: $font-xs;
                                    color: #777;
                                }
                                .price{
                                    font-size: $font-xs;
                                    color: $deeppink;
                                    del{
                                        color: #ccc;
                                        margin-left: pr(10);                                       
                                    }
                                }
                            }
                        }
                    }
                }
                //商家优惠信息
                .discount{
                    background-color: #fff;
                    margin-top: 10px;
                    .topBar{
                        background-color: #fff;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: pr(30);
                        padding: pr(10);
                        .super{
                            font-size: $font-sm;
                            font-weight: bold;
                            color: #777;
                            border-left: 3px solid $deeppink;
                            padding-left: pr(10);
                        }
                    }
                    .goodList{
                        display: flex;
                        flex-wrap: wrap;
                        padding: pr(6);
                        li{
                            width: 50%;                     
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: pr(5);
                            img{
                                width: pr(176);
                                height: pr(160);
                            }
                            .proName{
                                width: 100%;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                font-size: $font-xs;
                                color: #777;
                                padding: pr(5);
                            }
                            .info{
                                display: flex; 
                                padding: pr(0) pr(5);
                                p{
                                    font-size: $font-xs;
                                    color: $deeppink;
                                    del{
                                        color: #999;
                                        margin-left: pr(20);
                                    }                         
                                }                                                     
                            }  
                            a {
                                font-size: pr(10);
                                color: #333;
                                border: pr(1) dashed $deeppink;
                                padding: pr(0) pr(3);
                                margin-top: pr(4);
                            }                                                        
                        }
                    }
                }
            }
        }
    }

    .anchor{
        position: fixed;
        right: pr(15);
        bottom: 0;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        // display: none;
        img{
            width: pr(40);
            height: pr(40);
            animation: circle 60s alternate infinite;
            transition: all 60s;
        }
        i{
            width: pr(5);
            height: pr(24);
            background-color: #ccc;
            margin-top: pr(-5);
        }
    }

    //小风车的动画
    @keyframes circle {
        to {
            transform: rotateZ(-3000deg);
        }
    }
}