@import './common.scss';
.main{
    .inner{
        background: #f2f2f2;
        .nav{
            margin-top: pr(5);
            // border-bottom: pr(0.5) solid #ccc;
            background: #fff;
            ul{
                margin-bottom: pr(5);
                display: flex;
                flex-wrap: wrap;
                li{
                    display: flex;
                    justify-content: center;
                    width: 25%;
                    position: relative;
                    padding: pr(5) pr(0);

                    .popularity{
                        position: absolute;
                        width: pr(35);
                        height: pr(20);
                        background: #ff614f;
                        border: pr(1) solid #fff;
                        top: 0;
                        right: pr(10);
                        color: #fff;
                        font-size: pr(12);
                        line-height: pr(18);
                        text-align: center;
                        border-radius: pr(15);
                       
                    }
                    a{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        img{
                            width: pr(50);
                        }
                        span{
                            margin-top: pr(5);
                            font-size: pr(14);
                            color: #666;
                        }
                    }

                    &:nth-child(n+9){
                        display: none;
                    }
                }

               
            }
        }

        .discount{
            background: #fff;
            margin-top: pr(2);
            .top{
                height: pr(30);
                display: flex;
                justify-content: space-between;
                padding: pr(0) pr(10);
                color: #fff;
                align-items: center;
                background: linear-gradient(to bottom, #ffad44,#ff9203);
                
                span{
                    font-size: pr(14);
                    font-weight: bold;
                }
                img{
                    width: pr(15);
                }
            }

            .products{
                a{
                    display: flex;
                    border-bottom: pr(0.5) solid #ccc;
                    padding: pr(10) pr(5);

                    .left{
                        
                        margin-right: pr(5);
                        img{
                            width: pr(60);
                        }
                    }

                    .right{
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .title{
                            font-size: pr(10);
                            color: #000;
                            .color{
                                color: #ff9203;
                            }
                        }

                        .other{
                            font-size: pr(8);
                            display: flex;
                            justify-content: space-between;
                            i{
                                font-size: pr(10);
                                margin-right: pr(3);
                            } 
                        }
                    }
                }
            }
        }
    }

    .button{
        width: 100%;
        padding: pr(0) pr(10) pr(10) pr(10);
        button{
            width: 100%;
            background: linear-gradient(to bottom, #fff,#f2f2f2);
        }
    }


    .ranking{
        height: pr(30);
        margin-bottom: pr(10);
        display: flex;
        justify-content: space-between;
        padding: pr(0) pr(10);
        color: #fff;
        align-items: center;
        background: linear-gradient(to bottom, #ffad44,#ff9203);
        font-size: pr(14);

        img{
            width: pr(15);
        }
    }

    .footer{
        background: #f2f2f2;
    }



}


